/* Please read */
/* Everything below should go on your .css doc*/
/*
Please pay attention to the simple structure of css.

Object {
    What you want to change: How you want to change it;
    What you want to change: How you want to change it;
    What you want to change: How you want to change it;
}
----------------------------------------------------------------------
you can target all tags on the html by simply using the same html tag.

to target all <button></button> tags you would simply do
button {

}

or all <div></div> tags by
div {
}

-----------------------------------------------------------------------------

to target any class="example" you need to use a dot
.example {
}

 */

/* Basic styling */
body{
    margin: 0;
    padding-block: 40px;

    font-family: cursive;
    text-align: center;

    background-image: url("images/default-background.jpg");
    background-repeat:repeat-y;
    background-size: 100%;
}

input, button { /* the , targets all objects individually*/
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    
    font-size: 20px;
    padding: 5px;
}

.user-input {
    display: inline-block;

    padding: 5px;

    border-style: solid;
    border-radius: 5px;
}

button,.change-unit:hover {
    cursor: pointer;
}


.card {
    margin-block:10px;
    border-style: solid;
    border-width: 3.5px;
    border-radius: 5px;
}


.main.card {  /*putting two labels together will target any object that contains both labels*/
    text-align: center;
    margin-inline: auto;

    width: 50%;

    background-color: rgba(207, 193, 203, 0.30);
}

.main .card{ /*putting a space between two labels will create a parent/child relationship. the first label would be the parent. this targets objects that live inside the parent objects */
    display: none;

    margin-inline: 10px;
    margin-block: 10px;

    padding: 10px;

    font-weight: bold;
    border-width: 1.5px;
    
    background-color: rgba(207, 193, 203, 0.30);
}

#current-weather{
    max-width: 400px;
}
img{
    display: none;
    width: 50%;
    object-fit: contain; 
}


/* responisve breaks */
@media (max-width: 600px) {
    .main.card {
        width: 100%;
        border-style: none;
        margin-top: 50%;
    }
    
}

